/* GENERAL CSS STYLING */

body {
  margin: 5em 25%;
  font-size: 150%;
  background-color: #fefefe;
  font-family: 'Playfair Display', serif;
}

p {
  color: #383838
  font-size: 1em;
  text-align: left;
}

.box {
  padding: 1em 2em 4em 2em;
  border: 1px solid #aeaeae;
}

.burn {
  color: #b11;
  font-size: 2.2em;
  text-align: center;
  padding-bottom: 1em;
  font-family: 'Raleway', serif;
}

