body {
  color: white;
  margin: 5em 25%;
  font-size: 150%;
  background-color: black;
  font-family: 'Sacramento', cursive;
  margin: 5em 25%;
}

p {
  font-size: 2.2em;
}

.burn {
  color: #b11;
  font-size: 2.2em;
}